@media all and ( max-width: 1024px )

{
	#services aside
    {
        width: 80%;
    }
    #services aside figure
    {
    	margin-top: 5%;
    }
    #projet div figure
    {
    	width: 25%;
    }
    footer form
    {
    	text-align: center;
    	width: 100%;
    	height: auto;
    	position: unset;
    }
    header #text
    {
    	margin: 5%;
    	margin-top: unset;
    }

    
}
@media all and (max-device-width: 800px)
{
	#projet div figure
    {
    	width: 45%;
    }
 	h2
 	{
 		font-size: 60px;
 	}
	nav #menu span
	{
		z-index: 3;
		position: absolute;
		right: 33px;
		display: unset;
		height: 4px;
		width:30px;
		background-color: grey;
		transition: transform 1s;
	}
	nav #menu #a
	{
		top: 35px;
	}
	nav #menu #b
	{
		top: 50px;
		opacity: 1;
		transition: opacity 1s;
	}
	nav #menu #c
	{
		top: 65px;
	}
	nav #menu #select
	{
		z-index: 5;
		height: 100px;
		width: 100px;
		position: absolute;
		right: 0px;
		display: unset;
		opacity: 0;
	}
	nav #menu
	{
		align-items: flex-end;
	}
	nav #menu ul
	{
		padding: 0px;
		height: 250px;
		position: absolute;
		background-color: white;
		top:-265px;
		flex-direction: column;
		opacity: 0;
		transition-property: opacity, transform;
		transition-duration: 1s;
		border-radius: 11px;
    	box-shadow: 0px 3px 8px grey;
	}
	nav #menu ul li
	{
		font-weight: bold;
		width: 150px;
	}
	nav #menu #select:checked ~ #a
	{
		transform: translateY(15px) rotate(-45deg);	
	}
	nav #menu #select:checked ~ #b
	{
		opacity: 0;
		transition: opacity 1s;
	}
	nav #menu #select:checked ~ #c
	{
		transform: translateY(-15px) rotate(45deg);
	}
	nav #menu #select:checked ~ ul
	{
		transform: translateY(348px);
		opacity: 1;
		transition: all 1s;
	}
	nav #menu ul li:hover
	{
		color: white;
		text-shadow: 1px 0 white;
		background-color: #5cadd3;
	}
/* header */
	header #text
	{
		padding-top: 10px;
   		padding-bottom: 20px;
		color: black;
    	width: 100%;
    	position: unset;
	    z-index: 2;
	    margin: auto;
	    text-align: center;
	    background-color: rgb(245,245,245);
	    border-radius: 10px 10px 0 0;
	    display: flex;
    	flex-direction: column;
    	justify-content: center;
    	align-items: center;
	}
	#scroll-left, #scroll-right
	{
		top: 70%;
	}
}

@media all and (max-device-width: 425px)
{	
	#projet div figure
	{
		width: 100%;
	}
	#projet div figure figcaption p
	{
 		font-size: xx-large;
	}
}
